
h1  {
color: rgb(49, 112, 194);
margin-bottom: 1em;
}

.btn-primary {
color: rgb(255, 255, 255);
background-color:rgb(73, 141, 228) ;
}
.logo-visual  {
justify-content: right;
}


/* Hace que el dropdown se abra al pasar el mouse */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* evita que se mueva */
}

/* Opcional: agrega una transición suave */
.dropdown-menu {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  display: block;
  visibility: hidden;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
